{% extends 'main.html' %}
{% block content %}
<main class="leaderboard-page layout layout--3">
  <div class="container">
    <div class="leaderboard">
        <h2>Leaderboard</h2>
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Rooms created</th>
                    <th>Followers</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'user-profile' pk=user.pk %}">
                                {{ user.username }}
                            </a>
                        </td>
                        <td>{{ user.room_count }}</td>
                        <td>{{ user.followers.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</main>
{% endblock content %}
