{% extends 'main.html' %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<style>
    .message-container {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
    }
    .message-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #e0e0e0;
    }
    .message__subject {
        margin: 0;
    }
    .message__author {
        font-weight: bold;
    }
    .message__date {
        font-size: 0.9em;
        color: #777;
    }
    .message__body {
        padding-top: 20px;
    }
    .messagePage-top {
    margin-top: 10px; /* Adjust this value according to your needs */
    }
</style>

<!-- Main Section -->
<main class="messagePage my-xl messagePage-top">
    <div class="content-box">
        <div class="message-container">
            <div class="message-header">
                <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
                <h2 class="message__subject">{{message.subject}}</h2>
                <p class="message__date">{{message.created}}</p>
            </div>
            {% if message.user %}
            <a href="{% url 'user-profile' message.user.id  %}" class="message__author">{{message.name}}</a>
            {% else %}
            <p class="message__author">{{message.name}}</p>
            {% endif %}
            <div class="message__body">{{message.body|linebreaksbr}}</div>

            
        </div>
    </div>
</main>
{% endblock content %}