{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Create/Update Study Room</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST">
          {% csrf_token %}

          <div class="form__group">
            <label for="room_topic">Select a Category</label>
            <select required name="topic" id="room_topic">
              <option value="">Select a category</option>
              <option value="Faculty of Arts, Design and Humanities">Faculty of Arts, Design and Humanities</option>
              <option value="Faculty of Business and Law">Faculty of Business and Law</option>
              <option value="Faculty of Health and Life Sciences">Faculty of Health and Life Sciences</option>
              <option value="Faculty of Computing, Engineering and Media">Faculty of Computing, Engineering and Media</option>
              <option value="Study">Study</option>
              <option value="Social">Social</option>
              <option value="Events">Events</option>
              <option value="Other">Other</option>
            </select>
          </div>


          <div class="form__group">
            <label for="room_name">Room Name</label>
            {{form.name}}
          </div>

          <div class="form__group">
            <label for="room_description">Room Description</label>
            {{form.description}}
          </div>

          <div class="form__group">
            <label for="{{ form.is_private.id_for_label }}">Private Room:</label>
            {{ form.is_private }}
        </div>
        
        <div class="form__group">
            <label for="{{ form.access_code.id_for_label }}">Access Code (optional for private rooms):</label>
            {{ form.access_code }}
        </div>


          <div class="form__action">
            <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
            <button class="btn btn--main" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}